<div class="content">
	<div class="row">
		<div class="col-md-12">
          <!-- Map box -->
			<div class="box box-solid">
				<div class="box-header">            
					<h3 class="box-title">
						<span class="fa fa-briefcase"></span>
						<span translate="trakeyeApp.caseType.home.title">Case Types</span>
					</h3>
					<div class="box-tools">
						  <button class="btn btn-create" ui-sref="case-type.new" >
			                    <span class="glyphicon glyphicon-plus"></span>
			                    <span  translate="trakeyeApp.caseType.home.createLabel">
			                        Create Type
			                    </span>
			                </button>
					</div>					
				</div>
				<div class="box-body">
				<jhi-alert></jhi-alert>
					<div class="row">
						<div class="col-md-3 pull-right">
							<div class="input-group input-group-sm">
							<input  type="text"  ng-model="search" ng-change="vm.filterSearch()" class="form-control input-sm" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9_ ]{3,}$/" placeholder="{{'trakeyeApp.caseType.home.search' | translate}}">
								<span class="input-group-btn">
								  <button type="button" class="btn btn-info btn-flat">
									<i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="table-responsive mt-10">					 
						 <table class="jh-table table table-bordered">
							<thead class="bg-default">
								 <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
				                   <!--  <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
				                    <th jh-sort-by="name"><span translate="trakeyeApp.caseType.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
				                    <th jh-sort-by="description"><span translate="trakeyeApp.caseType.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
				                   <!--  <th jh-sort-by="user.login"><span translate="trakeyeApp.caseType.user">User</span> <span class="glyphicon glyphicon-sort"></span></th> -->
				                    <th>Actions</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr ng-repeat="caseType in vm.caseTypes  | filter : search  track   by caseType.id">
				                   <!--  <td><a ui-sref="case-type-detail({id:caseType.id})">{{caseType.id}}</a></td> -->
				                    <td>{{caseType.name}}</td>
				                    <td>{{caseType.description}}</td>
				                   <!--  <td>{{caseType.createdDate | date:'medium'}}</td>
				                    <td>{{caseType.updateDate | date:'medium'}}</td>--> 
				                    <!-- <td>
				                        {{caseType.createdBy}}
				                    </td> -->
				                    <td>
				                        <div class="actions">
				                            <a ui-sref="case-type-detail({id:caseType.id})"
				                                    class="action-icons text-info" title="View">
				                                <span class="fa fa-eye"></span>
				                              </a>
				                            <a ui-sref="case-type.edit({id:caseType.id})"
				                                    class="action-icons text-primary" title="Edit">
				                                <span class="fa fa-pencil-square"></span>
				                                </a>
				                           
				                        </div>
				                    </td>
				                </tr>
				                <tr>
				                	<td colspan="10" ng-show="vm.caseTypes == 0" style="text-align: center;"><h4>No data available</h4></td>
				                </tr>
							</tbody>
						</table> 											
					</div>	
					<div class="row">
						<div class="col-md-4">
							<div class="count-length">
								<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
							</div>
						</div>
						<div class="col-md-8">
							<div class="pagination-list pull-right">
								<uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>						
							</div>					
						</div>					
					</div>						
				</div>           
			</div>		
		</div>	
	</div>
</div>