<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>322481284381-ul5f5jtb7lr23pmbvs2fsugd2hhl0j7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322481284381-ul5f5jtb7lr23pmbvs2fsugd2hhl0j7g</string>
	<key>API_KEY</key>
	<string>AIzaSyDpnhVvb5Xp1CMIXarfd-_MkAU10_0sCfw</string>
	<key>GCM_SENDER_ID</key>
	<string>322481284381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tresbu.trakeyeapp</string>
	<key>PROJECT_ID</key>
	<string>trakeyeapp-974cd</string>
	<key>STORAGE_BUCKET</key>
	<string>trakeyeapp-974cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:322481284381:ios:a2d2f7e7146aed70</string>
	<key>DATABASE_URL</key>
	<string>https://trakeyeapp-974cd.firebaseio.com</string>
</dict>
</plist>
